* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
}
.border-gray{
  border: 1px solid gray;
}
.searchbar button {
  border-radius: 0 5px 5px 0;
}
.searchbar{
  width: 100%;
  background-color: gray;
  position: absolute;
  top: 63px;
  left: 0;
  padding: 10px 40px;
}
.searchbar input {
  border-radius: 5px 0px 0px 5px;
  border: none;
  width: 100%;
}

a {
  color: white !important;
  text-decoration: none !important;
}

.user-dd{
  display: none;
  position: absolute;
  top: 100%;
  right: 10%;
  background:white;
  color:black;
 border: 1px solid gray;
}
.user-dd p{
  border-bottom:1px solid gray  ;
}


.login a,
.signup a,
header .offcanvas {
  color: black !important;
}

.text-gold {
  color: gold;
}

.large {
  font-size: large;
}

.round {
  border-radius: 50% !important;
}

.bg-gray {
  background-color: gainsboro !important;
}

.border-down {
  border-bottom: 1px solid gray;
}


.dd {
  position: absolute;
  top: 119px;
  left: 10px;
  width: 96%;
}

/* #login{
  height: 90vh} */
.delivery input {
  width: 325px;
}
.dashboard li{
  border: 1px solid black;
  border-right: none;
  border-radius: 15px 0 0 15px;
}
.dashboard li svg{
  border: 2px solid black;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding: 2px;
}
.dashboard{
  height: 100vh;
  position: sticky;
  top: 0;
}
.admin-orders svg{
font-size: xx-large;
border: 1px solid gray;
padding: 3px;
}

@media screen and (max-width:768px) {
  #cart img {
    width: 100%;
  }
  .user-dd{
    right: 1%;
  }
}
